/figure/**
/logs/**
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
_minted*
*.nav
*.snm
*.vrb

latexindent.yaml

!/figure/figure_sample.png
!/logs/.gitkeep

